.formulario {
  display: none;
  border: 2px solid #343a40;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}
.container-center {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}
.btn-mostrar {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
}
.active-form {
  display: block;
  transition: display ease 3s;
}

