.media{
    margin-left: 80px;
    line-height: normal;
    margin-top: 15px;
}
.img-comentario{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}