body {
  margin: 0;
  padding: 0 0 100px 0;
  overflow-x: hidden;
}
.container-slider {
  height: 450px;
  position: relative;
}

.container-slider:before,
.container-slider:after {
  content: "";
  display: block;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}
.container-slider:after {
  left: auto;
  right: 0;
}
.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0;
  /* REalize un cambio del 0 a auto en la izquierda, derecha */
}

.container-position {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* Elimine el .box-card para poder manejar de una mejor manera el box  */
.container-position .card {
  
  flex: 1;
  min-width: 200px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-color: white;
  transition: opacity 300ms linear, border-color 300ms linear,
    background-color 300ms linear,
    transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.container-position .card .details {
  opacity: 0;
  transition: opacity 150ms linear;
}
.card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  background-color: transparent;
  padding: 10px;
  width: 300px;
  height: 450px;
  text-align: left;
  margin: 0 5px;
}

.card-img-top{
height: 150px;
}

.card-title{
  text-align: center;
}
.card-text{
  text-overflow: ellipsis;
  overflow: hidden;
  height: 170px;
}
.card-text:hover{
    overflow-y: scroll;
}
.container-buttons{
  display: flex;
}
.row {
  display: flex;
  justify-content: center;
}
.btn-left{
  background-color: transparent;
  border: none;
  font-size: 40px;
  left: 0;
  border-radius: 50%;
  margin-top: 200px;
  position: absolute;
  z-index: 2;
}
.btn-left:focus{
  outline: 0 none;
}
.btn-right{
  background-color: transparent;
  border: none;
  font-size: 40px;
  right:0;
  border-radius: 50%;
  position: absolute;
  margin-top: 200px;
  z-index: 2;
}
.btn-right:focus{
  outline: 0 none;
}

.container-fluid{
  display: flex;
  flex-flow: column wrap;
}

@media (max-width: 350px){
  html,body{
    font-size: 12px;
  }
  .row{
    display: flex;
    flex-flow: column wrap;
  }
  .card{
    height: 180px;
  }
  .card:hover{
    height: 450px;
  }
  .card:hover .card-text, .card:hover .btn-primary, .card:hover .card-title{
    visibility: visible;
  }
  .card-text, .btn-primary, .card-title{
    visibility: hidden;
  }

  
}
/* .box-card:hover {
  background-color: black;
  cursor: pointer;
  border-color: #f3f3f3;
}
.box-card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}
.body-card {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.box-card .title-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.box-card .text-card {
  position: relative;
  text-align: justify;
  margin: 10px 20px;
} */

