html{
    overflow-x: hidden;

}
.video{
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

@media( max-width: 400px){
    .video{
        height: 170px;
        top: 0;
    }
}