* {
  box-sizing: border-box;
}
.footer {
  background-color: #343a40;
  bottom: 0;
  margin-top: 50px;
  position: relative;
  text-align: center;
   h5 {
    color: #e0a800;
    text-transform: uppercase;
    .icon-arrow{
      display: none;
      float: right;
    }
  }
  .footer-informacion {
    flex:20%;
    padding: 0 40px;
    p {
      color: whitesmoke;
      text-align: left;
    }
  }
  .footer-tours {
    flex: 20%;
    padding: 0 40px;
  }
  
  .footer-actividades {
    flex: 20%;
    padding: 0 40px;
  }
  .footer-contacto {
    flex: 20%;
    padding: 0 40px;
    text-align: left;
    color: whitesmoke;
    h5 {
      text-align: center;
    }
    a {
      color: whitesmoke;
      text-decoration: none;
      &:hover {
        color: gray;
        text-decoration: none;
      }
    }
    .icon {
      color: #e0a800;
      margin: 0 auto;
    }
    .footer-social {
      background-color: #282c30;
      padding: 4px 20px;
      display: inline-flex;
      justify-content: center;
      .icon-social {
        font-size: 25px;
        margin: 0 20px;
      }
      
    }
  }
}

.box-titulo {
  border: 2px solid transparent;
  background-color: #343a40;
  flex: 20%;
  padding: 20px 40px;
}

.footer-link {
  display: block;
  text-decoration: none;
  padding: 12px 0;
  color: whitesmoke;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.footer-copy {
  display: flex;
  justify-content: center;
  background-color: #282c30;
  position: relative;
  bottom: 0;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  p{
    margin-top: 12px;
  }
}

@media  only  screen and (min-width: 320px) and (max-width:480px) {
   .box-titulo {
    border: 2px solid transparent;
    color: whitesmoke;
    padding: 8px 2px;
    border: 1px solid #343a40;
  }
  .footer {
    flex-direction: column;
    flex: 100%;
    h5{
      font-size: 12px;
      color: whitesmoke;
      .icon-arrow{
        display: flex;
        float: right;
      }
    }
    .footer-contacto,
  .footer-tours,
  .footer-informacion,
  .footer-actividades {
    flex: 100%;
    text-align: center;
    margin-bottom: -10px;
    border: 1px solid #343a40;
    .footer-body{
      display: none;
    }
    &:hover .footer-body{
      display: block;
      box-sizing: border-box;
    }
    .footer-social {
      display: flex;
      justify-content: center;
      margin: 20px 30px;
    }
  }
  }
}

@media  only  screen and (min-width: 768px) and (max-width:1024px) {
  .box-titulo {
   border: 2px solid transparent;
   color: whitesmoke;
   padding: 8px 2px;
   border: 1px solid #343a40;
 }
 .footer {
   flex-direction: column;
   flex: 100%;
   h5{
     font-size: 12px;
     color: whitesmoke;
     .icon-arrow{
       display: flex;
       float: right;
     }
   }
   .footer-contacto,
 .footer-tours,
 .footer-informacion,
 .footer-actividades {
   flex: 50%;
   text-align: center;
   margin-bottom: -10px;
   border: 1px solid #343a40;
   .footer-body{
     display: none;
   }
   &:hover .footer-body{
     display: block;
     box-sizing: border-box;
   }
   .footer-social {
     display: flex;
     justify-content: center;
     margin: 20px 30px;
   }
 }
 }
}
